*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
margin: 0!important;
    height: 100%;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}




/* <!-- Why urban company starts--> */
#why{
    display:flex;
justify-content:space-between ;
/* border: 1px solid red; */
width: 80%;
margin: auto;
/* margin-left: 45px; */
}
.why-left>div{
    display: flex;
    /* border: 1px solid red; */
    margin: 20px;
   
}
.why-left img{
    width: 70%;
    /* border: 1px solid red; */
}
.why-left div div:nth-child(1){
    /* border: 3px solid green; */
    width: 20%;
}
.why-left div div:nth-child(2) {
  
    align-items: center;
    /* border: 3px solid blue; */
padding: 20px 0px 20px 10px;
}
.why-left div div p{
    color: #757575;
}


#why-down{
    font-size:32px;font-weight:700;line-height:1.5;color:#000;margin-bottom:36px;
    margin-left: 11%; font-weight: 700;
    margin-top: 150px;
}
#why-right img{
    width:30%;
    margin: 10px;
}
#why-right h2{
    font-size:32px;font-weight:700;line-height:1.5;color:#000;margin-bottom:12px;margin-top:36px

}
#why-right p
    {font-size:18px;line-height:1.44;color:#757575;
}


/* Why urban company DONE */



/* Homepage 1st part starts desktops --> */
#homepage_first{
display: flex;
width: 100%;
box-sizing: border-box;
margin: 40px 0px 80px 0px;
}
#homepage_first >div:nth-child(1){
    text-align: right;
    background: #fff;
    position: relative;
    /* border: 2px solid forestgreen; */
}
#homepage-photo-div
    {display:inline-block;
        width:70%;
        height:550px;
        position:relative;
        /* top:0;left:0; */
        /* border: 5px solid darkmagenta; */
    
    }

    #homepage-photo-div> div>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* border: 2px solid crimson; */
    }
    
    #select-city{
        display: inline-block;
                  width: 83%;
                  height: 550px;
                 margin-left: -80px;
                  background: linear-gradient(90deg,transparent,#000 8%);
                  /* background-image: linear-gradient(90deg, transparent, rgb(0, 0, 0) 40%);
                  background-position-x: initial;
                  background-position-y: initial;
                  background-size: initial;
                  /* background-repeat-x: initial;
                  background-repeat-y: initial; */
                  /* background-attachment: initial;
                  background-origin: initial;
                  background-clip: initial;
                  background-color: initial; */
                 

                  text-align: right;
                  position: relative;
                  z-index: 3;
                   /* border: 3px solid green;   */
                
    }

  
#homepage_first span
    {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 5.33px;
        color: #bdbdbd;
        text-transform: uppercase;
    }

#upper h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    margin: 20px 0 16px 0;
}
#upper>p{
    
    font-size: 18px;
    line-height: 1.44;
    color: #bdbdbd;
    margin: 0 0 36px 0;
}

#select-city section{
    width: 70%;
    padding: 80px;
    text-align: left;
    position: relative;
    display: inline-block;
     /* border: 3px solid blue; */
    margin: auto; 
    height: 80%;
}



#lower{
    width: 332px;
    border-radius: 4px;
    background-color: #fff;
    padding: 24px 16px;
} 
#lower p{
font-size: 16px;
font-weight: 600;
line-height: 1.5;
color: #212121;
margin-bottom: 16px;
}

#lower div{
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
    border: 1px solid #e2e2e2;
    background-color: #fff;
    width: 100%;
 height: 1cm;
}
#lower select{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    border: 0;

}


/* <!-- Homepage 1st part end desktops --> */


/* Navbar starts */
#header{

    background: #000!important;
    color: #fff!important;
    box-shadow: none!important;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    border: 0;
    background: #fff;
    box-shadow: inset 0 -1px 0 0 hsl(0deg 0% 92% / 96%);
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    transition: transform .2s ease-in;
    position: fixed;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    z-index: 4;
    display: flex;
    align-items: center;
    transform: translateY(0);
}

#header nav{
    
        width: 1200px;
        margin: 0 auto;
        max-width: 100%;
        height: 39px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
#header nav img{
    height: 45px;
    width: 80px;
    background: linear-gradient(90deg,transparent,#000 40%),url(images/UL.png);
}
#nav-links{
    flex: 1;
    text-align: right;
}
#nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
   
}
#nav-links ul li a{
color: white;
text-decoration: none;
font-size: 16px;
font-weight: bolder;

}
#nav-links ul li:nth-child(2) a{
    text-decoration: underline;
 
}


#login-container{
    
  /* border: 8px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -370px;
  opacity: 0;
  background-color: rgba(0,0,0,.7);
  background-color: white;
   transition-property: opacity; 
  
  /* animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: b_g519; */
  z-index: 8;
  /* transition: 10s; */
}
#login-number{
    width:90%;
}
#login-container>div{
    height: 100%!important;
    width: 360px!important;
    position: relative;
    box-sizing: border-box;
  top:0;
  right:0;
  /* border: 8px solid yellow; */
  background-color: #fff;
  max-width: 700px;
  margin: auto;
}
#continue-btn{
    width: 80%;
    /* border: 1px solid blue; */
    height:1cm;
    margin: auto;
    margin-top: 50px;

}
#continue-btn>button{
    background-color: #424242;
    width: 100%;
    height: 100%;
    border: 0;
    color: #fff;
  font-weight: 600;
  font-size: large;
  border-radius: 7px;
  cursor: pointer;
}

#click{
    height: 56px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 16px;
    display:flex;

}
#click>p{
    line-height: 24px;
    font-size: 16px;
    color: #212121;
    font-weight: 500;
    margin-left: 16px;
    position: relative;
    top: 1px;
    flex: 1;
}


/* Navbar ends */

#line{
    background-color: #F3E5F5;
    height: 4mm;
margin: 70px 0 50px 0;
}

/* book Professional starts */
#book{
    display: flex;
    width: 1153px;
    
    margin: 0 auto;
    
    align-items: flex-start;
    justify-content: space-between;
}

#right{
    display: flex;
    
    position: relative;
    top: 22px;
    /* justify-content: space-between; */
}

#right >div{
    width: 240px;
    margin-left: 56px;
    
    position: relative;
    box-sizing: border-box;
}
#right >div>div{
    
    z-index: 0;
    position: relative;
     background: #f6f7f8;
    
    
    width: 100%;
    height: 100%;
}

#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#left{
    padding-top: 68px!important;
    box-sizing: border-box;
    display: block;
}
#left >h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    color: #000;
    margin-bottom: 12px;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

#left >p{
    font-size: 18px;
    line-height: 1.8;
    color: #757575;
    margin-bottom: 32px;
    font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600;
}
#number-div{
    position: relative;
    display: flex;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);
    /* border: 2px solid green; */
}

.number{
    margin: 40px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    font-size: 18px;
    line-height: 24px;
    width: 500px;
    /* border: 2px solid red; */
    border: 1px solid #e2e2e2;
    background-color: #fff;
}

.number span:nth-child(1){
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
   width: 70px;
   height: .6cm;
    align-items: center;
}


.number span:nth-child(1)>img{
width: 55%;

    height: auto;
    margin-right: 5px;
}
#icon-div{
    position: relative;
    /* top: 2px;
    right: 8px; */
    cursor: pointer;
    width: 50px;
    height: 1cm;
    /* border: 2px solid red; */
   
}

#type-number{
    border-left: 1px solid #e2e2e2;
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    background: #fff;
    overflow: visible;
    line-height: 1.15;
    margin: 0 auto;
    outline: 0;
    font: inherit;
    font-weight: 600;
    /* border: 2px solid red; */
}
#send-book{
    font-size: 10px;
   padding: 10px 30px;
    color: #fff;
    background: #212121;
    margin-right: 4px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    line-height: 1.15;
    font: inherit;
    font-size: 100%;
   /* border: 2px solid red; */
     margin: 0 auto;  
    border: none;
    /* outline: 0; */
}

#app-link{
    margin-top: 36px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
   
}
#app-link div{
    width: 150px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
   
    margin: 10px;
}

#app-link div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}


/* book Professional ends */


/* 3  THE footers starts */
#footer-row-1 ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#footer-row-1{
    padding: 24px 0 8px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #000;
    margin: 0 50px ;
    cursor: pointer;

 
    
}
#footer-row-1 ul li{

   
    margin-right: 28px;
    margin-bottom: 16px;
    opacity: .8;
    transition: opacity .2s;
    display: list-item;
    cursor: pointer;

   
}
#footer-row-1 ul li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    
}

#footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #000;
    position: absolute;
    cursor: pointer;

}


/* 3  THE footers 1 endss */



/* footer row 2 starts */


#footer-row-2{
   
    border-top: 1px solid #424242;
    display: block;
    box-sizing: border-box;
    padding: 24px 0 8px;
    font-size: 18px;
    box-sizing: border-box;
    background-color: #000;
    margin: 0 83px ;
    font-weight: 600;
}
#footer-row-2>p{
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 8px;

}
.country{
    display: flex;
    flex-direction: column!important;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: flex-start!important;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */

}
.country>li{
    margin-right: 32px;
    font-size: 14px;
    line-height: 36px;
    opacity: .8;
}

.country span{
    color: #fff;
    font-size: 14px;
    font-weight: 700;

}
.country-ind>li,.country-usa>li,.country-uae>li,.country-sin>li,.country-ksa>li{ 
    margin-right: 32px;
    
    line-height: 36px;
    opacity: .8;
    transition: opacity .2s;
    text-align: -webkit-match-parent;
    
}
.country-ind,.country-usa,.country-uae,.country-sin,.country-ksa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.country-ind>li>a,.country-usa>li>a,.country-uae>li>a,.country-sin>li>a,.country-ksa>li>a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* footer row-3 satrts */

#footer-row-3{
    display: flex;
    align-items: center;
    border-top: 1px solid #424242;
    justify-content: space-between;
   
    padding: 24px 0 8px;
    font-size: 18px;
    box-sizing: border-box;
        margin: 0 83px ;
}
#footer-logo-conatiner{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
#footer-logo-conatiner>span{
    color: #fff;
    margin-left: 16px;
    font-size: 12px;
    opacity: .8;

}


#footer-logo-conatiner >a{
    display: flex;
    align-items: center;
    opacity: .8;
    text-decoration: none;
}
#urban-logo>div{
    opacity: 0;
    z-index: 0;
    position: absolute;
   
    background: #f6f7f8;
    background-image: linear-gradient(90deg,#f6f7f8 0,#edeef1 20%,#f6f7f8 40%,#f6f7f8);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    width: 100%;
    height: 100%;
}
#urban-logo{
    width: 150px;
    height: auto;
    overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border: 3 px solid purple;
}
#urban-logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.social-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.social-links>li{
    margin-right: 20px;
    opacity: .8;
}
.social-links>li>a{
    color:#fff ;
    text-decoration: none;
    cursor: pointer;
}
.social-links>li>a>div{
width: 30px;
box-sizing: border-box;
/* border: 5px solid red; */

}
.social-links>li>a>div>img{
width: 100%;
height: 100%;
object-fit: cover;
/* border: 3px solid white; */
}
a{
    cursor: pointer;
}


/* Functionality Parts */

#select-home-city>option{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
   color: none;
}

#select-home-city>option:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}


#number-div-drop{
    padding: 24px;
    left: 450px;
    top: -400px;
    opacity: 0;
    width: 300px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* transform: translate(-50%,-50%) scale(1.05);  */
    background-color: #eee;
    z-index: 6;
}
#number-div-drop>div{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#number-div-drop ul{
    list-style-type: none;
    
}
#number-div-drop li{
    display: flex;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
    background-position: 50%;
    transition: all .3s;
    cursor: pointer;
}
#number-div-drop li:hover{
    background-color: #bdbdbd;
}

#number-div-drop li img{
margin-right: 12px;
    width: 40px;
  box-sizing: border-box;
}

#number-div-drop li span:nth-child(2){
box-sizing: border-box;
}



#number-div-drop li span:nth-child(3){
margin-left: 8px;
color: #757575;
box-sizing: border-box;
}


#upper-country{
    font-family: OpenSauceOne;
    width: 100%;
     height: calc(100% - 150px); 
    box-shadow: 0 6px 5px hsl(0deg 0% 69% / 10%), 0 7px 9px rgb(0 0 0 / 6%);
    background: #fff;
    padding: 36px 0 0;
    overflow: auto;
     /* transform: translateY(-100%);  */
    list-style-type: square;
    top: 0;
    
   display: none;
    
    opacity: 10;
    z-index: 5;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* transform: translate(0%,0%) scale(1.05);  */
    transform: translateY(0%); 
    transition : 0.3s ;
}
#upper-head{
    display: flex;
    width:60%;
    margin: auto;
    justify-content: space-between;

}
#upper-head h1{
    font-size: 40px;
    color: #212121;
    text-align: center;
    flex: 1;
    margin-bottom: 30px;
  
}
#upper-coun-sub{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.upper-country-usa,.upper-country-ind,.upper-country-uae,.upper-country-sin,.upper-country-ksa{
    display: flex;
    flex-direction: column;
    color: #555;
    align-items: flex-start;

}

 .upper-country-usa ul, .upper-country-ind ul, .upper-country-uae ul, .upper-country-sin ul, .upper-country-ksa ul{ display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 32px;
   
    list-style-type: none;
    color: #555;

 }
.upper-country-usa ul> li, .upper-country-ind ul>li,.upper-country-uae ul> li,.upper-country-sin ul> li,.upper-country-ksa ul> li{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
   
    cursor: pointer;
    list-style-type: none;
   
}
.upper-country-usa ul> li>a, .upper-country-ind ul>li a,.upper-country-uae ul> li a,.upper-country-sin ul> li a,.upper-country-ksa ul> li a{
    text-decoration: none;
    color: #555;
}
.upper-country-ind ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   row-gap: 20px;
   column-gap: 30px;
   
}
.upper-country-usa h3,.upper-country-ind h3,.upper-country-uae h3,.upper-country-sin h3,.upper-country-ksa h3{
    margin-bottom: 20px;
    color: #212121;
    font-size: 22px;

}

#upper-coun-sub li:hover{
    background-color: #bdbdbd;
    transform: scale(1.02);
}